.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: 'aaux_proregularregular';
  background: #000;
  color: #FFF;
}

h1,
h2,
h3,
h4,
h5.
h6{
  font-family: 'aaux_problackregular';
}

.row{
 margin-right: 0;
}
.center {
  margin: 0 auto;
}
.skewed-bg {
  background: #FFB539;

}
.skewed-bg .content {
  text-align: center;
}
.skewed-bg .content .title {
  padding-top: 100px;
  font-weight: normal;
}
.skewed-bg .content .text {
  width: 60%;
  margin: 25px auto;
  color: #ccfff2;
}


.skewed-bg-2 .content {
  text-align: center;
}
.skewed-bg-2 .content .title {
  padding-top: 100px;
  font-weight: normal;
}
.skewed-bg-2 .content .text {
  width: 60%;
  margin: 25px auto;
  color: #ccfff2;
}

.footer {
  padding-top: 100px;
}
.footer .credits {
  text-align: center;
  color: #666;
}
.footer .credits .link {
  color: #00B285;
  text-decoration: none;
}

.slogan {
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 1px 5px rgba(150, 150, 155, 1);
  font-size: 31pt;

}
.slogan small {
  color: #fff;
  font-size: 21pt;
}

.box {
  background: #e7a032;
  font-family: 'aaux_promediumregular';
  width: 180px;
  height: 140px;
  border-radius: 15px;
  box-shadow: 2px 1px 5px rgba(150, 150, 155, 1);
  text-align: center;
  font-size:1.2em;
  padding:10px;
  margin: 0 auto;
}
.box b {
  font-size: 3.0em;
  font-family: 'aaux_problackregular';
}

.mapa{
  background:url(../images/body/mapa_bg.png) no-repeat top center #000;
  background-size:100% 90%;
}
.text-highlight {
    color: #e7a032;
    font-size: 19pt;
    text-align: center;
}

.text-highlight b {
    font-size: 39pt;
}

.text-desc {
    color: #fffefe;
    font-size: 16pt;
    text-align: center;
}

.text-desc b {
    font-size: 23pt;
}

.form-control {
  background:#4b4b4b;
  border: 1px solid #d8d5d5;
  border-radius: 15px;
  color: #d8d5d5;
  margin: 15px 0px;
}
.button {
  background-color: #71b3cc;
  border-radius: 15px;
}

.footer {
  bottom: 0;
}
.footer p {
  background: #e7a032;
  height: 60px;
  bottom: 0;
  margin:0;
}

.fake-button {
  background: #71afc8;
  width: 300px;
  height: auto;
  color: white;
  margin: 213px;
  padding: 11px;
  text-align: center;
  border-radius: 15px;
  transform: skew(0deg,-10deg);
}

@media screen and (max-width: 770px) {
 .hidden-md-block {
   display: none !important;
 }
 .logo {
   width: 100%;
 }
 .skewed-bg-2 {
   background: #FFB539;
   padding: 5px;
 }
 .col-xs-12 {
   margin-bottom: 10px;
 }
 .box{
   box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.7)
 }
 .box b {
   font-size: 2.6em;
 }
}

/*
 Com uma largura mínima de 992 pixels. Monitores por exemplo.
*/
@media (min-width:780px) and (max-width:1024px)  {

   .logo {
     margin-left: -170px;
     width: 100%;
   }
   .slogan {
     font-size: 21pt;
     text-align: left;
     margin-top: 100px;
   }
   .slogan small{
     font-size: 11pt;
   }
   .skewed-bg {
   }
   .skewed-bg-2 {
     position: relative;
     background: url(../images/header/bg_2.png) no-repeat top center;
     background-size: 100%;
     padding: 200px 0;
     margin-top:-20px;
     z-index: 100;
   }
   #chamada {
     margin-top: -300px;
     z-index: 333;
     position: relative;
   }
   #boxgrop {
    margin-top: -160px;
   }
   .box {
     margin: 5px;
   }
   .mapa{
       margin-top: -260px;
   }
   .mapa > .col-md-12 {
     margin-top: -120px;
   }
}

/*
 Dispositivos com largura mínima de 1200 pixels. Por exemplo TVs.
*/
@media screen and (min-width: 1200px) {
  .logo {
    margin-left: -170px;
  }
  .slogan {
    text-align: left;
    margin-top: 100px;
    font-size: 35pt;
  }
  skewed-bg {
    padding: 200px 0;
    margin-top: -200px !important;
  }
  .skewed-bg-2 {
    position: relative;
    background: url(../images/header/bg_2.png) no-repeat top center;
    background-size: 100%;
    padding: 200px 0;
    margin-top:0px;
    z-index: 100;
  }
  #chamada{
    margin-top:-220px;z-index: 333;position: relative;
  }
  #boxgrop {
   margin-top: -80px;
  }
  .box {
    margin: 5px;
  }
  .mapa{
      margin-top: -260px;
  }
  .mapa > .col-md-12 {
    margin-top: -120px;
  }
}
